.button {
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  padding: 20px 25px;
  border: 3px solid #275c91;
}
.button * {
  color: #ffffff !important;
  background: none !important;
}
.button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
