.button {
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  padding: 20px 25px;
  border: 3px solid #275c91;
}
.button * {
  color: #ffffff !important;
  background: none !important;
}
.button a:before {
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  float: left;
  background-image: url(../pictures/link-512.gif);
  background-size: cover;
}
.button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
iframe{
    width: 940px;
    height: 550px;
}
.twitter-timeline {
  width:  340px !important;
  height: 660px !important;
  margin-top: -40px !important;
  transform: scale(0.8);
}

@media print {
@page {
  size:landscape;
  margin: 25mm;
  }

.shower.full {
  transform:none!important;
  }

.slide {
  border: 0.05cm solid black;
  page-break-inside:avoid;
  page-break-after:always;
  }
}